* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }
  
:root {
    --color1: #161b22;
    --color2: #e6e6e7;
    --font-Segoe: "Segoe UI", sans-serif;
    --font-roboto: "Roboto", sans-serif;
    --white: #ffffff;
    --blue: #88aef9;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  }

  .container {
    padding-left: 55px;
    padding-right: 55px;
    margin-left: auto;
    margin-right: auto;
  }

  /*////////////////// nav bar ///////////////////*/

  .nav{
    display: flex;
    background-color: var(--color1);
    padding: 10px;
    justify-content: space-between;
  }

  ul{
     display: flex;
    color: var(--white);
    padding: 10px;
  }
  li{
    display: flex;
    padding: 5px;
    font-size: 20px;
  }

  .navFirst{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
  }

  .searchSlot{
    display: flex;
    border: gray groove 0.5px;
    margin-bottom: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;
  }

/*the search bar*/

  #search{
    display: flex;
    color: var(--color2);
    background-color: var(--color1);
    border: none;
    /* height: vh; */
    width: 17vw;
    margin-left: 7px;
    margin-right: 7px;
    align-items: center;
    justify-content: center;  
  }

  #searchBtn{
    position: relative;
    top: 0.25vh;
    background-color: #161b22;
  }

/* the upper line and its icons*/

  .lineUN ul{
    display: flex;
    justify-content: center;
    gap: 2.5vw;
    margin-top: 4vh;
  }

  .lineUN li{
    gap: 1vw;
  }

.navSecond{
  display: flex;
  gap: 7px;
  align-items: center;
  justify-content: center; 
}

/* everything between the upper line and the footer*/
.Repo{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/*the side pic, followers...*/
.aside{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* position: absolute;
  left: 20vh;
  top: 15vh; */
  padding-top: 10px;
  margin-left: 6vw;

}
/* profile pic following and followers */


#profilePic{
 z-index: 1;
  position: relative;
  bottom: 7vh;
  height: 40vh;
  width: 20vw;
}

#userName{
  font-size: 30px;
  margin-bottom: 10px;
  position: relative;
  bottom:  5vh;
}

.button22{
  position: relative;
  bottom:  5.5vh;
}

.flowng{
  display: flex;
  gap: 1rem;
  padding-top: 15px;
  position: relative;
  bottom:  6vh;
}

.cusPin{
  display: flex;
  justify-content: space-between;
}


/* repo and boxes*/


.cards{
  display:grid; 
  grid-gap: 10px;
  margin-top: 10px;
grid-template-columns: 1fr 1fr ;
grid-template-rows: 1fr 1fr ;



}
.card1{
display: flex;
justify-content:space-between;
 border:3px solid rgba(128, 128, 128, 0.468) ;
 height: 15vh;
 width:30vw;
 border-radius: 8px;
 padding: 5px;
}
.card1 button{
 background-color: #fcfcfd18;
 border:2px solid rgba(128, 128, 128, 0.468) ;
 border-radius: 30%;
 height: 40px;
 width: 60px;
 font-weight: 700;
 color:#8b949e;
}
.firstCol{
 display: flex;
 flex-direction: column;
 gap:15px
}
.card1 h5{
 margin-top: 10px;
 color:rgb(77, 77, 244);
 font-size: large;

}
.type{
 display: flex;
 gap:5px;
 color:#8b949e;
}
.circleColor{
 height: 1rem;
 width: 1rem;

 border-radius: 100%;

}

@media screen and (max-width:500px){
  .cards{
    display:flex; 
    flex-direction: column;
    gap:5px;
  }
  
  .card1{
    width:100%;
  }
}



#repos{
  display: flex;
  flex-direction: column;
  margin-left: 5vw;
  padding-top: 15px;

}

/*content inside of the boxes*/

/*Footer*/

footer{
  display: flex;
  justify-content: space-around;
  padding-top:10px ;
  border-top: 1px var(--color1) solid;
  position: relative;
  top: 100px;
  
}

.FootGit{
  display: flex;
  align-items: center;
  gap: 1vh;
}

.footItems{
  display: flex;
  width: 60vw;
  justify-content: space-around;
  /* gap: 25px; */
}

@media (max-width: 992px) and (min-width: 768px) {
  body{
    overflow-x: hidden;
    min-height: 100vh;
  }

  #profilePic{
    z-index: 1;
    position: relative;
    top: 0vh;
    margin-bottom:50px ;
   height: 240px;
    width: 220px;
  
   }
  

   

.PR{
  display: none;
}

.IS{
  display: none;
}

.CS{
  display: none;
}

.MP{
  display: none;
}

.EX{
  display: none;
}


.Repo{
flex-wrap: wrap;
}

.footItems{
display: none;
}

footer{
  margin-top: 370px;
}

.container{
margin-left: 10px;
}



}



@media (max-width: 768px) {
    
  body{
    overflow-x: hidden;
  }
  .nav{
    width: 100% ;
  }

  #search{
    width:30vw;

  }
  .navSecond{
display: none; 
 }

 .lineUN{
  display: none;
 }

 #profilePic{
  z-index: 1;
  position: relative;
  top: 0vh;
  margin-bottom:50px ;
 height: 240px;
  width: 220px;

 }


.aside{
  padding-left: 50px;
}

.PR{
    display: none;
  }

  .IS{
    display: none;
  }

  .CS{
    display: none;
  }

  .MP{
    display: none;
  }

  .EX{
    display: none;
  }

  .searchSlot{
    width: 170px;
    
  }

  .navSecond{
    display: none;
  }

  .cards{
  grid-template-columns: 1fr;
  }

  .Repo{
    padding-left: 7vw;
    justify-content: space-between;
    align-content: space-between;
  }

.footItems{
display: none;
}


.container{
  margin-left: 10px;
}



}
